*.iml
.gradle
/local.properties
/.idea/caches/*
/.idea/codeStyles/*
/.idea/libraries/*
/.idea/markdown-navigator/*
/.idea/encodings.xml
/.idea/markdown-exported-files.xml
/.idea/markdown-navigator.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
